*{
  box-sizing: border-box;
}
header{
  background-color: #111;
  width:100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-wrap{
  padding:2rem 0px;
}
.top-menu{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5em;
  margin: 0px ;
  padding: 0px ;
}
.top-menu li a{
  text-decoration: none;
  color: whitesmoke;
}
.top-menu li a:hover{
  text-decoration: underline !important;
}
.top-menu .menu-item-has-children {
  position: relative;
}
.top-menu .menu-item-has-children:hover ul{
  height: 100%;
}
.top-menu .menu-item-has-children ul{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,0%);
  padding: 0em;
  margin: 0px;
  border-radius:.3em;
  list-style: none;
  background-color: white;
  white-space: nowrap;
  height: 0%;
  overflow: hidden;
  transition: height .15s ease;
  box-shadow: 0px 0px 1em rgba(0,0,0,.8);
}
.top-menu .menu-item-has-children ul li a{
  color: black;
  padding: .8em;
}